<a href="https://colab.research.google.com/github/vignesh200010/highIQpython/blob/main/dec5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

print('a'>'A')

True

In [ ]:
print('A'>'a')

False

In [ ]:
print(1<2<3<4)

True

In [ ]:
print(1<2>3<4)

False

In [ ]:
print(1<=0)

False

In [ ]:
magician=True
expert=True
if expert and magician:
  print('you are master magician')
elif magician or not expert:
  print('your almost there')
elif not magician:
  print('magical powers you need')

you are master magician

In [ ]:
print(True==1)

True

In [ ]:
print(''==1)
print(10==10.0)

False
True

In [ ]:
print([]==1)
print([]==[])

False
True

In [ ]:
print(True is 1)

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-21-1c207cc444c6>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(True is 1)

In [ ]:
print([] is [])

False

In [ ]:
print('1' is '1')

True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-22-cb4e44872f57>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1' is '1')

In [ ]:

print(10 is 10.0)

False

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-18-df67ef584aac>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10.0)

In [ ]:
a=[1,2,3]
b=[1,2,3]
print(a is b)

False

In [ ]:
for item in 'zero to mastery':
  print(item)

z
e
r
o

t
o

m
a
s
t
e
r
y

In [ ]:
for item in [1,2,3,4,5]:
  print(item)

1
2
3
4
5

In [ ]:
for item in {1,2,3,4,5}:
  print(item)

1
2
3
4
5

In [ ]:
for item in (1,2,3,4,5):
  print(item)

1
2
3
4
5

In [ ]:
for item in (1,2,3,4,5):
  for x in ['a','b','c']:
    print(item,x)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [ ]:
user={
    'name':'golem',
    'age':5006,
    'can_swim':False
}
for item in user.items():
  print(item)
for item in user.keys():
  print(item)
for item in user.values():
  print(item)

('name', 'golem')
('age', 5006)
('can_swim', False)
name
age
can_swim
golem
5006
False

In [ ]:
user={
    'name':'golem',
    'age':5006,
    'can_swim':False
}
for item in user.items():
  key,value=item;
  print(key,value)

name golem
age 5006
can_swim False

In [ ]:
user={
    'name':'golem',
    'age':5006,
    'can_swim':False
}
for key,value in user.items():
 
  print(key,value)

name golem
age 5006
can_swim False

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9,10]
count=0
for x in my_list:
  count=count+x
print(count)

55

In [ ]:
for x in range(0,10):
  print(x)a

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(10,0,-1):
  print (x)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for x in range(5):
  print (list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for x,y in enumerate ('hello'):
  print (x,y)

0 h
1 e
2 l
3 l
4 o

In [ ]:
for x,y in enumerate (list(range(100))):
  if y==50:
   print (f'indec of 50 is :{y}')

indec of 50 is :50

In [ ]:
i=0
while i<50:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
i=0
while i<=50:
  print(i)
  i+=1
else:
  print('done with all the work')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
done with all the work

In [ ]:
mylist=[1,2,3,4]
for x in mylist:
  print(x)

1
2
3
4

In [ ]:
mylist=[1,2,3,4]
i=0
while i < len(mylist):
  print(mylist[i])
  i+=1

1
2
3
4

In [ ]:
while True:
  response= input('say something: ')
  if (response=='bye'):
    break

say something: hi

In [ ]:
mylist=[1,2,3,4]
for x in mylist:
  print(x)
  continue

i=0
while i < len(mylist):
  print(mylist[i])
  i+=1
  continue

1
2
3
4
1
2
3
4

In [ ]:
mylist=[1,2,3,4]
for x in mylist:
  print(x)
  break

i=0
while i < len(mylist):
  print(mylist[i])
  i+=1
  break

1
1

In [ ]:
mylist=[1,2,3,4]
for x in mylist:
  print(x)
  pass

i=0
while i < len(mylist):
  print(mylist[i])
  i+=1
  pass

1
2
3
4
1
2
3
4

In [ ]:
picture = [
[0,0,0,1,0,0,0],
[0,0,1,1,1,0,0],
[0,1,1,1,1,1,0],
[1,1,1,1,1,1,1],
[0,0,0,1,0,0,0],
[0,0,0,1,0,0,0]
]

for row in picture:
  for pixel in row:
    if (pixel == 1):
      print('*',end='')
    else:
      print(' ',end='')
  print()

   *
  ***
 *****
*******
   *
   *

In [ ]:
picture = [
[0,0,0,1,0,0,0],
[0,0,1,1,1,0,0],
[0,1,1,1,1,1,0],
[1,1,1,1,1,1,1],
[0,0,0,1,0,0,0],
[0,0,0,1,0,0,0]
]
fill='$'
empty=''
for row in picture:
  for pixel in row:
    if(pixel):
      print(fill,end='')
      print(fill,end='')
      print(fill,end='')
    else:
      print(empty,end='')
      print(empty,end='')
  print('')

$$$
$$$$$$$$$
$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$
$$$
$$$

In [ ]:
mylist=['a','b','c','d','a','b']
duplicate=[]
for value in mylist:
  if mylist.count(value)>1:
    if value not in duplicate:
      duplicate.append(value)
print(duplicate)

['a', 'b']

In [ ]:
picture = [
[0,0,0,1,0,0,0],
[0,0,1,1,1,0,0],
[0,1,1,1,1,1,0],
[1,1,1,1,1,1,1],
[0,0,0,1,0,0,0],
[0,0,0,1,0,0,0]
]
def hi():
  for row in picture:
    for pixel in row:
      if (pixel == 1):
        print('*',end='')
      else:
        print(' ',end='')
    print()
hi()
hi()

   *
  ***
 *****
*******
   *
   *
   *
  ***
 *****
*******
   *
   *

In [ ]:
def hi(name,emoji):
  print(f'helloo {name}{emoji}')
hi('aundri','ðŸ˜€')

helloo aundriðŸ˜€

In [ ]:
def hi(name,emoji):
  print(f'helloo {name}{emoji}')
hi(emoji='ðŸ˜€',name='aundri',)
hi(emoji='ðŸ˜€',name='jhon',)

helloo aundriðŸ˜€
helloo jhonðŸ˜€

In [ ]:
def hi(name='darth vader',emoji='ðŸ˜ˆ'):
  print(f'helloo {name}{emoji}')
hi(emoji='ðŸ˜€',name='aundri',)
hi(emoji='ðŸ˜€',name='jhon',)
hi()
hi(name='ken',)

helloo aundriðŸ˜€
helloo jhonðŸ˜€
helloo darth vaderðŸ˜ˆ
helloo kenðŸ˜ˆ

In [ ]:
def sum(num1,num2):
  return num1+num2
print(sum(10,sum(10,5)))

25

In [ ]:
def sum(num1,num2):
  def another_func(num1,num2):
    return num1+num2
    return another_func(num1,num2)
total=sum(10,20)
print(total)

None

In [ ]:
def fun(a):
  '''
  note:hi this function is a testing one
  '''
  print(a)
help(fun)
print(fun.__doc__)

Help on function fun in module __main__:

fun(a)
    note:hi this function is a testing one


  note:hi this function is a testing one

In [ ]:
def num(a):
  if a % 2 == 0:
    return True
  return False
print(num(50))

True

In [ ]:
def fun(*args,**kwargs):
  total=0
  for x in kwargs.value():
    total+= x
  return sum(args)+total
  print(fun(1,2,3,4, num1=5, num2=7))

In [ ]:
def fun(*args):
  print(args)
  return(args)
print(fun(1,2,3,4,5))

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [ ]:
def fun(a):
  even=[]
  for x in a:
    if x % 2 == 0:
      even.append(x)
  return max(even)
print (fun([1,2,3,4,5,10,11]))

10

In [ ]:
a='helloooooooooooo'
if ((n :=len(a)) > 10):
  print(f"too long{n} elements")
while (n := len(a)>1):
  print(n)
  a=a[:-1]

too long16 elements
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [ ]:
a='helloooooooooooo'
if ((n :=len(a)) > 10):
  print(f"too long{n} elements")
while ((n := len(a))>1):
  print(n)
  a=a[:-1]
print(a)

too long16 elements
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
h

In [ ]:
if True:
  x=10
def fun():
  total=100
  print(x)
fun()

10

In [ ]:
a=1
def parent():
  def confusion():
    return sum
    return confusion()
print(parent())
print(a)

None
1

In [ ]:
total=0
def count():
  global total
  total +=1
  return total
count()
count()
print(count())

3

In [ ]:
total=0
def count(total):
  total +=1
  return total

print(count(count(count(total))))

3

In [ ]:
def outer():
  x='local'
  def inner():
    nonlocal x
    x='nonlocal'
    print('inner:',x)
  inner()
  print('outer:',x)
outer()
print(x)

inner: nonlocal
outer: nonlocal
10

In [3]:
print(type(None))
print(type(True))
print(type(5))
print(type(5.5))
print(type('hi'))
print(type([]))
print(type(()))
print(type({}))

<class 'NoneType'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [4]:
class BigObject:
  pass
obj1=BigObject()
print(type(None))
print(type(True))
print(type(5))
print(type(5.5))
print(type('hi'))
print(type([]))
print(type(()))
print(type({}))
print(type(obj1))

<class 'NoneType'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class '__main__.BigObject'>

In [10]:
class playerCharacter:
  def __init__(self,name):
    self.name=name
  def run(self):
    print('run')
player1=playerCharacter('cindy')
print (player1)

<__main__.playerCharacter object at 0x7fc366514d60>

In [ ]:
class playerCharacter:
  def __init__(self,name):
    self.name=name
  def run(self):
    print('run')
player1=playerCharacter('cindy')
print (player1)

In [11]:
class playerCharacter:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def run(self):
    print('run')
    return 'done'
player1=playerCharacter('cindy',44)
player2=playerCharacter('Tom',21)
print (player1)
print (player2)

<__main__.playerCharacter object at 0x7fc3664be5e0>
<__main__.playerCharacter object at 0x7fc3664be4c0>

In [12]:
class playerCharacter:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def run(self):
    print('run')
    return 'done'
player1=playerCharacter('cindy',44)
player2=playerCharacter('Tom',21)
player2.attack=50
print (player1)
print (player2.attack)

<__main__.playerCharacter object at 0x7fc366468370>
50

In [13]:
class playerCharacter:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def run(self):
    print('run')
    return 'done'
player1=playerCharacter('cindy',44)
player2=playerCharacter('Tom',21)
player2.attack=50
print (player1.name)
print (player2.attack)

cindy
50

In [14]:
class playerCharacter:
  membership=True
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def run(self):
    print('run')
    return 'done'
player1=playerCharacter('cindy',44)
player2=playerCharacter('Tom',21)
player2.attack=50
print (player1.membership)
print (player2.membership)

True
True

In [16]:
class playerCharacter:
  membership=True
  def __init__(self,name,age):
    if(playerCharacter.membership):
      self.name=name
      self.age=age
  def shout(self):
    print(f'my name is {self.name}')
    return 'done'
player1=playerCharacter('cindy',44)
player2=playerCharacter('Tom',21)
player2.attack=50
print (player1.shout())
print (player2.shout())

my name is cindy
done
my name is Tom
done

In [20]:
class playerCharacter:
  membership=True
  def __init__(self,name,age):
    if(age>18):
      self.name=name
      self.age=age
  def shout(self):
    print(f'my name is {self.name}')
    
player1=playerCharacter('cindy',19)

print (player1.shout())

my name is cindy
None

In [22]:
class playerCharacter:
  membership=True
  def __init__(self,name,age):
    if(age>18):
      self.name=name
      self.age=age
  def shout(self):
    print(f'my name is {self.name}')
  @classmethod
  def adding_things(cls,num1,num2):
    return num1+num2
    
print(playerCharacter.adding_things(2,3))

5

In [24]:
class playerCharacter:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def run(self):
    print('run')
  def speak(self):
    print(f'my name is {self.name},and iam {self.age} years old')
player1=playerCharacter('cindy',44)

player1.speak()

my name is cindy,and iam 44 years old

In [27]:
class playerCharacter:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def run(self):
    print('run')
  def speak(self):
    print(f'my name is {self.name},and iam {self.age} years old')
player1=playerCharacter('cindy',44)
player1.name='!!!'
player1.speak='boooo'
print(player1.speak)

boooo

In [28]:
class playerCharacter:
  def __init__(self,name,age):
    self._name=name
    self._age=age
  def run(self):
    print('run')
  def speak(self):
    print(f'my name is {self._name},and iam {self._age} years old')
player1=playerCharacter('cindy',44)

print(player1.speak)

<bound method playerCharacter.speak of <__main__.playerCharacter object at 0x7fc366468dc0>>

In [37]:
class user(object):
  def __init__(self,email):
    self.email=email

  def sign_in(self):
    print('logged in')

class Wizard(user):
  def __init__(self,name,power):
    self.name=name
    self.power=power

  def attack(self):
    print(f'attacking with power of {self.power}')

##class archer(User):
  #def __init__(self,name,num_arrow):
   #self.name=name
    #self.num_arrow=num_arrow

  def attack(self):
    print(f'attacking with arrows: arrow left-{self.num_arrow}')
Wizard1=Wizard('merlin',50)

print(Wizard1.sign_in())

logged in
None

In [41]:
class toy():
  def __init__(self,color,age):
    self.color=color
    self.age=age
    self.my_dict={
        'name':'yoyo',
        'has_pets': False
    }
  def __str__(self):
    return f'{self.color}'
  def __len__(self):
    return 5
  def __call__(self):
    return('ress??')
  def __getitem__(self,i):  
    return self.my_dict[i]
action_figure=toy('red',0)
print(action_figure.__str__())
print(str(action_figure))
print(len(action_figure))
print(action_figure())
print(action_figure['name'])

red
red
5
ress??
yoyo

In [43]:
class a:
  pass
class b(a):
  pass
class c(a):
  pass
class d(b,c):
  pass
print(d.mro())

[<class '__main__.d'>, <class '__main__.b'>, <class '__main__.c'>, <class '__main__.a'>, <class 'object'>]

In [ ]:
class a:
  pass
class b(a):
  pass
class c(a):
  pass
class d(b,c):
  pass
print(d.mro())

In [46]:
class a:
  num=1
class b(a):
  pass
class c(a):
  num=12
class d(b,c):
  pass
print(d.num)

12