<a href="https://colab.research.google.com/github/vignesh200010/highIQpython/blob/main/regular_expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
iterator = p.finditer('12 drummers drumming, 11 ... 10 ...')
iterator  
#<callable_iterator object at 0x...>
for match in iterator:
    print(match.span())

#(0, 2)
#(22, 24)
#(29, 31)

NameError: ignored

In [ ]:
import re
help(re)

Help on module re:

NAME
    re - Support for regular expressions (RE).

MODULE REFERENCE
    https://docs.python.org/3.8/library/re

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides regular expression matching operations similar to
    those found in Perl.  It supports both 8-bit and Unicode strings; both
    the pattern and the strings being processed can contain null bytes and
    characters outside the US ASCII range.

    Regular expressions can contain both special and ordinary characters.
    Most ordinary characters, like "A", "a", or "0", are the simplest
    regular expressions; they simply match themselves.  You can
    concatenate ordinary characters, so last matches the string 'last'.

    The special characters are:
        "."      Matches any character except a newline.
        "^"      Matches the start of the string.
        "$"      Matches the end of the string or just before the newline at
                 the end of the string.
        "*"      Matches 0 or more (greedy) repetitions of the preceding RE.
                 Greedy means that it will match as many repetitions as possible.
        "+"      Matches 1 or more (greedy) repetitions of the preceding RE.
        "?"      Matches 0 or 1 (greedy) of the preceding RE.
        *?,+?,?? Non-greedy versions of the previous three special characters.
        {m,n}    Matches from m to n repetitions of the preceding RE.
        {m,n}?   Non-greedy version of the above.
        "\\"     Either escapes special characters or signals a special sequence.
        []       Indicates a set of characters.
                 A "^" as the first character indicates a complementing set.
        "|"      A|B, creates an RE that will match either A or B.
        (...)    Matches the RE inside the parentheses.
                 The contents can be retrieved or matched later in the string.
        (?aiLmsux) The letters set the corresponding flags defined below.
        (?:...)  Non-grouping version of regular parentheses.
        (?P<name>...) The substring matched by the group is accessible by name.
        (?P=name)     Matches the text matched earlier by the group named name.
        (?#...)  A comment; ignored.
        (?=...)  Matches if ... matches next, but doesn't consume the string.
        (?!...)  Matches if ... doesn't match next.
        (?<=...) Matches if preceded by ... (must be fixed length).
        (?<!...) Matches if not preceded by ... (must be fixed length).
        (?(id/name)yes|no) Matches yes pattern if the group with id/name matched,
                           the (optional) no pattern otherwise.

    The special sequences consist of "\\" and a character from the list
    below.  If the ordinary character is not on the list, then the
    resulting RE will match the second character.
        \number  Matches the contents of the group of the same number.
        \A       Matches only at the start of the string.
        \Z       Matches only at the end of the string.
        \b       Matches the empty string, but only at the start or end of a word.
        \B       Matches the empty string, but not at the start or end of a word.
        \d       Matches any decimal digit; equivalent to the set [0-9] in
                 bytes patterns or string patterns with the ASCII flag.
                 In string patterns without the ASCII flag, it will match the whole
                 range of Unicode digits.
        \D       Matches any non-digit character; equivalent to [^\d].
        \s       Matches any whitespace character; equivalent to [ \t\n\r\f\v] in
                 bytes patterns or string patterns with the ASCII flag.
                 In string patterns without the ASCII flag, it will match the whole
                 range of Unicode whitespace characters.
        \S       Matches any non-whitespace character; equivalent to [^\s].
        \w       Matches any alphanumeric character; equivalent to [a-zA-Z0-9_]
                 in bytes patterns or string patterns with the ASCII flag.
                 In string patterns without the ASCII flag, it will match the
                 range of Unicode alphanumeric characters (letters plus digits
                 plus underscore).
                 With LOCALE, it will match the set [0-9_] plus characters defined
                 as letters for the current locale.
        \W       Matches the complement of \w.
        \\       Matches a literal backslash.

    This module exports the following functions:
        match     Match a regular expression pattern to the beginning of a string.
        fullmatch Match a regular expression pattern to all of a string.
        search    Search a string for the presence of a pattern.
        sub       Substitute occurrences of a pattern found in a string.
        subn      Same as sub, but also return the number of substitutions made.
        split     Split a string by the occurrences of a pattern.
        findall   Find all occurrences of a pattern in a string.
        finditer  Return an iterator yielding a Match object for each match.
        compile   Compile a pattern into a Pattern object.
        purge     Clear the regular expression cache.
        escape    Backslash all non-alphanumerics in a string.

    Each function other than purge and escape can take an optional 'flags' argument
    consisting of one or more of the following module constants, joined by "|".
    A, L, and U are mutually exclusive.
        A  ASCII       For string patterns, make \w, \W, \b, \B, \d, \D
                       match the corresponding ASCII character categories
                       (rather than the whole Unicode categories, which is the
                       default).
                       For bytes patterns, this flag is the only available
                       behaviour and needn't be specified.
        I  IGNORECASE  Perform case-insensitive matching.
        L  LOCALE      Make \w, \W, \b, \B, dependent on the current locale.
        M  MULTILINE   "^" matches the beginning of lines (after a newline)
                       as well as the string.
                       "$" matches the end of lines (before a newline) as well
                       as the end of the string.
        S  DOTALL      "." matches any character at all, including the newline.
        X  VERBOSE     Ignore whitespace and comments for nicer looking RE's.
        U  UNICODE     For compatibility only. Ignored for string patterns (it
                       is the default), and forbidden for bytes patterns.

    This module also defines an exception 'error'.

CLASSES
    builtins.Exception(builtins.BaseException)
        error
    builtins.object
        Match
        Pattern

    class Match(builtins.object)
     |  The result of re.match() and re.search().
     |  Match objects always have a boolean value of True.
     |
     |  Methods defined here:
     |
     |  __copy__(self, /)
     |
     |  __deepcopy__(self, memo, /)
     |
     |  __getitem__(self, key, /)
     |      Return self[key].
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  end(self, group=0, /)
     |      Return index of the end of the substring matched by group.
     |
     |  expand(self, /, template)
     |      Return the string obtained by doing backslash substitution on the string template, as done by the sub() method.
     |
     |  group(...)
     |      group([group1, ...]) -> str or tuple.
     |      Return subgroup(s) of the match by indices or names.
     |      For 0 returns the entire match.
     |
     |  groupdict(self, /, default=None)
     |      Return a dictionary containing all the named subgroups of the match, keyed by the subgroup name.
     |
     |      default
     |        Is used for groups that did not participate in the match.
     |
     |  groups(self, /, default=None)
     |      Return a tuple containing all the subgroups of the match, from 1.
     |
     |      default
     |        Is used for groups that did not participate in the match.
     |
     |  span(self, group=0, /)
     |      For match object m, return the 2-tuple (m.start(group), m.end(group)).
     |
     |  start(self, group=0, /)
     |      Return index of the start of the substring matched by group.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  endpos
     |      The index into the string beyond which the RE engine will not go.
     |
     |  lastgroup
     |      The name of the last matched capturing group.
     |
     |  lastindex
     |      The integer index of the last matched capturing group.
     |
     |  pos
     |      The index into the string at which the RE engine started looking for a match.
     |
     |  re
     |      The regular expression object.
     |
     |  regs
     |
     |  string
     |      The string passed to match() or search().

    class Pattern(builtins.object)
     |  Compiled regular expression object.
     |
     |  Methods defined here:
     |
     |  __copy__(self, /)
     |
     |  __deepcopy__(self, memo, /)
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  findall(self, /, string, pos=0, endpos=9223372036854775807)
     |      Return a list of all non-overlapping matches of pattern in string.
     |
     |  finditer(self, /, string, pos=0, endpos=9223372036854775807)
     |      Return an iterator over all non-overlapping matches for the RE pattern in string.
     |
     |      For each match, the iterator returns a match object.
     |
     |  fullmatch(self, /, string, pos=0, endpos=9223372036854775807)
     |      Matches against all of the string.
     |
     |  match(self, /, string, pos=0, endpos=9223372036854775807)
     |      Matches zero or more characters at the beginning of the string.
     |
     |  scanner(self, /, string, pos=0, endpos=9223372036854775807)
     |
     |  search(self, /, string, pos=0, endpos=9223372036854775807)
     |      Scan through string looking for a match, and return a corresponding match object instance.
     |
     |      Return None if no position in the string matches.
     |
     |  split(self, /, string, maxsplit=0)
     |      Split string by the occurrences of pattern.
     |
     |  sub(self, /, repl, string, count=0)
     |      Return the string obtained by replacing the leftmost non-overlapping occurrences of pattern in string by the replacement repl.
     |
     |  subn(self, /, repl, string, count=0)
     |      Return the tuple (new_string, number_of_subs_made) found by replacing the leftmost non-overlapping occurrences of pattern with the replacement repl.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  flags
     |      The regex matching flags.
     |
     |  groupindex
     |      A dictionary mapping group names to group numbers.
     |
     |  groups
     |      The number of capturing groups in the pattern.
     |
     |  pattern
     |      The pattern string from which the RE object was compiled.

    class error(builtins.Exception)
     |  error(msg, pattern=None, pos=None)
     |
     |  Exception raised for invalid regular expressions.
     |
     |  Attributes:
     |
     |      msg: The unformatted error message
     |      pattern: The regular expression pattern
     |      pos: The index in the pattern where compilation failed (may be None)
     |      lineno: The line corresponding to pos (may be None)
     |      colno: The column corresponding to pos (may be None)
     |
     |  Method resolution order:
     |      error
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, msg, pattern=None, pos=None)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from builtins.Exception:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

FUNCTIONS
    compile(pattern, flags=0)
        Compile a regular expression pattern, returning a Pattern object.

    escape(pattern)
        Escape special characters in a string.

    findall(pattern, string, flags=0)
        Return a list of all non-overlapping matches in the string.

        If one or more capturing groups are present in the pattern, return
        a list of groups; this will be a list of tuples if the pattern
        has more than one group.

        Empty matches are included in the result.

    finditer(pattern, string, flags=0)
        Return an iterator over all non-overlapping matches in the
        string.  For each match, the iterator returns a Match object.

        Empty matches are included in the result.

    fullmatch(pattern, string, flags=0)
        Try to apply the pattern to all of the string, returning
        a Match object, or None if no match was found.

    match(pattern, string, flags=0)
        Try to apply the pattern at the start of the string, returning
        a Match object, or None if no match was found.

    purge()
        Clear the regular expression caches

    search(pattern, string, flags=0)
        Scan through string looking for a match to the pattern, returning
        a Match object, or None if no match was found.

    split(pattern, string, maxsplit=0, flags=0)
        Split the source string by the occurrences of the pattern,
        returning a list containing the resulting substrings.  If
        capturing parentheses are used in pattern, then the text of all
        groups in the pattern are also returned as part of the resulting
        list.  If maxsplit is nonzero, at most maxsplit splits occur,
        and the remainder of the string is returned as the final element
        of the list.

    sub(pattern, repl, string, count=0, flags=0)
        Return the string obtained by replacing the leftmost
        non-overlapping occurrences of the pattern in string by the
        replacement repl.  repl can be either a string or a callable;
        if a string, backslash escapes in it are processed.  If it is
        a callable, it's passed the Match object and must return
        a replacement string to be used.

    subn(pattern, repl, string, count=0, flags=0)
        Return a 2-tuple containing (new_string, number).
        new_string is the string obtained by replacing the leftmost
        non-overlapping occurrences of the pattern in the source
        string by the replacement repl.  number is the number of
        substitutions that were made. repl can be either a string or a
        callable; if a string, backslash escapes in it are processed.
        If it is a callable, it's passed the Match object and must
        return a replacement string to be used.

    template(pattern, flags=0)
        Compile a template pattern, returning a Pattern object

DATA
    A = re.ASCII
    ASCII = re.ASCII
    DOTALL = re.DOTALL
    I = re.IGNORECASE
    IGNORECASE = re.IGNORECASE
    L = re.LOCALE
    LOCALE = re.LOCALE
    M = re.MULTILINE
    MULTILINE = re.MULTILINE
    S = re.DOTALL
    U = re.UNICODE
    UNICODE = re.UNICODE
    VERBOSE = re.VERBOSE
    X = re.VERBOSE
    __all__ = ['match', 'fullmatch', 'search', 'sub', 'subn', 'split', 'fi...

VERSION
    2.2.1

FILE
    /usr/lib/python3.8/re.py

In [ ]:
var=r"C:\Users\new\tenthfolder"
print(var)

C:\Users\new\tenthfolder

In [ ]:
import re
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
s = r"\d{4}"
type(s)
t = re.compile(s)
type(t)
result = re.findall(t, string)
print(result)

['1998']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.search(r"\d{3}", string)
print(result)
print (type(result))
#<re.Match object; span=(15, 18), match='600'>

<re.Match object; span=(15, 18), match='600'>
<class 're.Match'>

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.match(r"\w{3}", string)
result
#<re.Match object; span=(0, 3), match='The'>

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.fullmatch(r".{285}", string)
result
#<re.Match object; span=(0, 285), match='The Euro STOXX 600 index, which tracks all stock >

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.fullmatch(r"\w{285}", string)
result
type(result)

NoneType

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.findall(r"\d{3}", string)
result

['600', '199', '600']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.split(r"\s", string)
print(result)

['The', 'Euro', 'STOXX', '600', 'index,', 'which', 'tracks', 'all', 'stock', 'markets', 'across', 'Europe', 'including', 'the', 'FTSE,', 'fell', 'by', '11.48%', '–', 'the', 'worst', 'day', 'since', 'it', 'launched', 'in', '1998.', 'The', 'panic', 'selling', 'prompted', 'by', 'the', 'coronavirus', 'has', 'wiped', '£2.7tn', 'off', 'the', 'value', 'of', 'STOXX', '600', 'shares', 'since', 'its', 'all-time', 'peak', 'on', '19', 'February.']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

a=string.split(' ')
print(a)

['The', 'Euro', 'STOXX', '600', 'index,', 'which', 'tracks', 'all', 'stock', 'markets', 'across', 'Europe', 'including', 'the', 'FTSE,', 'fell', 'by', '11.48%', '–', 'the', 'worst', 'day', 'since', 'it', 'launched', 'in', '1998.', 'The', 'panic', 'selling', 'prompted', 'by', 'the', 'coronavirus', 'has', 'wiped', '£2.7tn', 'off', 'the', 'value', 'of', 'STOXX', '600', 'shares', 'since', 'its', 'all-time', 'peak', 'on', '19', 'February.']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.sub(r"[A-Z]{2,}", "INDEX", string)
print(result)

The Euro INDEX 600 index, which tracks all stock markets across Europe including the INDEX, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of INDEX 600 shares since its all-time peak on 19 February.

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.sub(r"[A-Z]{2,}", "INDEX", string, 2)
result

'The Euro INDEX 600 index, which tracks all stock markets across Europe including the INDEX, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February.'

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.subn(r"[A-Z]{2,}", "INDEX", string)
print(result)

('The Euro INDEX 600 index, which tracks all stock markets across Europe including the INDEX, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of INDEX 600 shares since its all-time peak on 19 February.', 3)

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.subn(r"[A-Z]{2,}", "INDEX", string, 2)
print(result)

('The Euro INDEX 600 index, which tracks all stock markets across Europe including the INDEX, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February.', 2)

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.search(r".+\s(.+ex).+(\d\d\s.+).", string)
print(result.groups())
print(result.group(1))
print(result.group(2))
print(result.group(1, 2))
result = re.findall(r".+\s(.+ex).+(\d\d\s.+).", string)
print(result)

('index', '19 February')
index
19 February
('index', '19 February')
[('index', '19 February')]

AttributeError: ignored

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."
import re
result = re.search(r".+\s(.+ex).+(\d\d\s.+).", string)
result.groups(1)

('index', '19 February')

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.search(r"(.+)", string)
result.group(1)

'The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February.'

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.search(r"^\w{3}", string)
result

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998.\nThe panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"^\w{3}", string, re.M)
result

['The', 'The']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998.\nThe panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\s(\w{2,})\W$", string, re.M)
result

['1998', 'February']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\d\d\d*", string)
result

['600', '11', '48', '1998', '600', '19']

In [ ]:
result = re.findall(r"E.* ", string)
result

['Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 ']

In [ ]:

result = re.findall(r"E\w*", string)
result

['Euro', 'Europe', 'E']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\d\d\d+", string)
result

['600', '1998', '600']

In [ ]:
result = re.findall(r"E.+ ", string)
result

['Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 ']

In [ ]:
result = re.findall(r"E\w+", string)
result

['Euro', 'Europe']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\d\d\d?", string)
result

['600', '11', '48', '199', '600', '19']

In [ ]:
result = re.findall(r"E.? ", string)
result

['E, ']

In [ ]:
result = re.findall(r"E\w?", string)
result

['Eu', 'Eu', 'E']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\d\d\d*", string)
result

['600', '11', '48', '1998', '600', '19']

In [ ]:
result = re.findall(r"\d\d\d*?", string)
result

['60', '11', '48', '19', '98', '60', '19']

In [ ]:
result = re.findall(r"\d\d\d+", string)
result

['600', '1998', '600']

In [ ]:
result = re.findall(r"\d\d\d+?", string)
result

['600', '199', '600']

In [ ]:
result = re.findall(r"\d\d\d?", string)
result

['600', '11', '48', '199', '600', '19']

In [ ]:
result = re.findall(r"\d\d\d??", string)
result

['60', '11', '48', '19', '98', '60', '19']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\d", string)
result

['6',
 '0',
 '0',
 '1',
 '1',
 '4',
 '8',
 '1',
 '9',
 '9',
 '8',
 '2',
 '7',
 '6',
 '0',
 '0',
 '1',
 '9']

In [ ]:
result = re.findall(r"\.", string)
result

['.', '.', '.', '.']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"[wxkq]", string)
result

['x', 'w', 'k', 'k', 'k', 'w', 'w', 'k']

In [ ]:
result = re.findall(r"[a-d]", string)
result

['d',
 'c',
 'a',
 'c',
 'a',
 'c',
 'a',
 'a',
 'c',
 'c',
 'd',
 'b',
 'd',
 'a',
 'c',
 'a',
 'c',
 'd',
 'a',
 'c',
 'd',
 'b',
 'c',
 'a',
 'a',
 'd',
 'a',
 'a',
 'c',
 'a',
 'a',
 'b',
 'a']

In [ ]:
result = re.findall(r"[S-W]", string)
result

['T', 'S', 'T', 'T', 'S', 'T', 'S', 'T']

In [ ]:
result = re.findall(r"[0-5]", string)
result

['0', '0', '1', '1', '4', '1', '2', '0', '0', '1']

In [ ]:
result = re.findall(r"[a-f][c-w]", string)
result

['de',
 'ch',
 'ac',
 'al',
 'ck',
 'ar',
 'et',
 'ac',
 'cl',
 'di',
 'fe',
 'ce',
 'au',
 'ch',
 'ed',
 'an',
 'el',
 'ed',
 'co',
 'av',
 'as',
 'ed',
 'ff',
 'al',
 'ar',
 'es',
 'ce',
 'al',
 'ak',
 'br',
 'ar']

In [ ]:
result = re.findall(r"[0-5][7-9]", string)
result

['48', '19', '19']

In [ ]:
result = re.findall(r"[0-9][a-z]", string)
result

['7t']

In [ ]:
result = re.findall(r"[^X]", string)
result

['T',
 'h',
 'e',
 ' ',
 'E',
 'u',
 'r',
 'o',
 ' ',
 'S',
 'T',
 'O',
 ' ',
 '6',
 '0',
 '0',
 ' ',
 'i',
 'n',
 'd',
 'e',
 'x',
 ',',
 ' ',
 'w',
 'h',
 'i',
 'c',
 'h',
 ' ',
 't',
 'r',
 'a',
 'c',
 'k',
 's',
 ' ',
 'a',
 'l',
 'l',
 ' ',
 's',
 't',
 'o',
 'c',
 'k',
 ' ',
 'm',
 'a',
 'r',
 'k',
 'e',
 't',
 's',
 ' ',
 'a',
 'c',
 'r',
 'o',
 's',
 's',
 ' ',
 'E',
 'u',
 'r',
 'o',
 'p',
 'e',
 ' ',
 'i',
 'n',
 'c',
 'l',
 'u',
 'd',
 'i',
 'n',
 'g',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'F',
 'T',
 'S',
 'E',
 ',',
 ' ',
 'f',
 'e',
 'l',
 'l',
 ' ',
 'b',
 'y',
 ' ',
 '1',
 '1',
 '.',
 '4',
 '8',
 '%',
 ' ',
 '–',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'w',
 'o',
 'r',
 's',
 't',
 ' ',
 'd',
 'a',
 'y',
 ' ',
 's',
 'i',
 'n',
 'c',
 'e',
 ' ',
 'i',
 't',
 ' ',
 'l',
 'a',
 'u',
 'n',
 'c',
 'h',
 'e',
 'd',
 ' ',
 'i',
 'n',
 ' ',
 '1',
 '9',
 '9',
 '8',
 '.',
 ' ',
 'T',
 'h',
 'e',
 ' ',
 'p',
 'a',
 'n',
 'i',
 'c',
 ' ',
 's',
 'e',
 'l',
 'l',
 'i',
 'n',
 'g',
 ' ',
 'p',
 'r',
 'o',
 'm',
 'p',
 't',
 'e',
 'd',
 ' ',
 'b',
 'y',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'c',
 'o',
 'r',
 'o',
 'n',
 'a',
 'v',
 'i',
 'r',
 'u',
 's',
 ' ',
 'h',
 'a',
 's',
 ' ',
 'w',
 'i',
 'p',
 'e',
 'd',
 ' ',
 '£',
 '2',
 '.',
 '7',
 't',
 'n',
 ' ',
 'o',
 'f',
 'f',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'v',
 'a',
 'l',
 'u',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 'S',
 'T',
 'O',
 ' ',
 '6',
 '0',
 '0',
 ' ',
 's',
 'h',
 'a',
 'r',
 'e',
 's',
 ' ',
 's',
 'i',
 'n',
 'c',
 'e',
 ' ',
 'i',
 't',
 's',
 ' ',
 'a',
 'l',
 'l',
 '-',
 't',
 'i',
 'm',
 'e',
 ' ',
 'p',
 'e',
 'a',
 'k',
 ' ',
 'o',
 'n',
 ' ',
 '1',
 '9',
 ' ',
 'F',
 'e',
 'b',
 'r',
 'u',
 'a',
 'r',
 'y',
 '.']

In [ ]:
result = re.findall(r"[(.+?)]", string)
result

['.', '.', '.', '.']

In [ ]:
result = re.findall(r"[^[0-5\]]", string)
result

['T',
 'h',
 'e',
 ' ',
 'E',
 'u',
 'r',
 'o',
 ' ',
 'S',
 'T',
 'O',
 'X',
 'X',
 ' ',
 '6',
 ' ',
 'i',
 'n',
 'd',
 'e',
 'x',
 ',',
 ' ',
 'w',
 'h',
 'i',
 'c',
 'h',
 ' ',
 't',
 'r',
 'a',
 'c',
 'k',
 's',
 ' ',
 'a',
 'l',
 'l',
 ' ',
 's',
 't',
 'o',
 'c',
 'k',
 ' ',
 'm',
 'a',
 'r',
 'k',
 'e',
 't',
 's',
 ' ',
 'a',
 'c',
 'r',
 'o',
 's',
 's',
 ' ',
 'E',
 'u',
 'r',
 'o',
 'p',
 'e',
 ' ',
 'i',
 'n',
 'c',
 'l',
 'u',
 'd',
 'i',
 'n',
 'g',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'F',
 'T',
 'S',
 'E',
 ',',
 ' ',
 'f',
 'e',
 'l',
 'l',
 ' ',
 'b',
 'y',
 ' ',
 '.',
 '8',
 '%',
 ' ',
 '–',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'w',
 'o',
 'r',
 's',
 't',
 ' ',
 'd',
 'a',
 'y',
 ' ',
 's',
 'i',
 'n',
 'c',
 'e',
 ' ',
 'i',
 't',
 ' ',
 'l',
 'a',
 'u',
 'n',
 'c',
 'h',
 'e',
 'd',
 ' ',
 'i',
 'n',
 ' ',
 '9',
 '9',
 '8',
 '.',
 ' ',
 'T',
 'h',
 'e',
 ' ',
 'p',
 'a',
 'n',
 'i',
 'c',
 ' ',
 's',
 'e',
 'l',
 'l',
 'i',
 'n',
 'g',
 ' ',
 'p',
 'r',
 'o',
 'm',
 'p',
 't',
 'e',
 'd',
 ' ',
 'b',
 'y',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'c',
 'o',
 'r',
 'o',
 'n',
 'a',
 'v',
 'i',
 'r',
 'u',
 's',
 ' ',
 'h',
 'a',
 's',
 ' ',
 'w',
 'i',
 'p',
 'e',
 'd',
 ' ',
 '£',
 '.',
 '7',
 't',
 'n',
 ' ',
 'o',
 'f',
 'f',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'v',
 'a',
 'l',
 'u',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 'S',
 'T',
 'O',
 'X',
 'X',
 ' ',
 '6',
 ' ',
 's',
 'h',
 'a',
 'r',
 'e',
 's',
 ' ',
 's',
 'i',
 'n',
 'c',
 'e',
 ' ',
 'i',
 't',
 's',
 ' ',
 'a',
 'l',
 'l',
 '-',
 't',
 'i',
 'm',
 'e',
 ' ',
 'p',
 'e',
 'a',
 'k',
 ' ',
 'o',
 'n',
 ' ',
 '9',
 ' ',
 'F',
 'e',
 'b',
 'r',
 'u',
 'a',
 'r',
 'y',
 '.']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"[0-9]", string)
result

['6',
 '0',
 '0',
 '1',
 '1',
 '4',
 '8',
 '1',
 '9',
 '9',
 '8',
 '2',
 '7',
 '6',
 '0',
 '0',
 '1',
 '9']

In [ ]:
result = re.findall(r"[a-zA-Z]", string)
result

['T',
 'h',
 'e',
 'E',
 'u',
 'r',
 'o',
 'S',
 'T',
 'O',
 'X',
 'X',
 'i',
 'n',
 'd',
 'e',
 'x',
 'w',
 'h',
 'i',
 'c',
 'h',
 't',
 'r',
 'a',
 'c',
 'k',
 's',
 'a',
 'l',
 'l',
 's',
 't',
 'o',
 'c',
 'k',
 'm',
 'a',
 'r',
 'k',
 'e',
 't',
 's',
 'a',
 'c',
 'r',
 'o',
 's',
 's',
 'E',
 'u',
 'r',
 'o',
 'p',
 'e',
 'i',
 'n',
 'c',
 'l',
 'u',
 'd',
 'i',
 'n',
 'g',
 't',
 'h',
 'e',
 'F',
 'T',
 'S',
 'E',
 'f',
 'e',
 'l',
 'l',
 'b',
 'y',
 't',
 'h',
 'e',
 'w',
 'o',
 'r',
 's',
 't',
 'd',
 'a',
 'y',
 's',
 'i',
 'n',
 'c',
 'e',
 'i',
 't',
 'l',
 'a',
 'u',
 'n',
 'c',
 'h',
 'e',
 'd',
 'i',
 'n',
 'T',
 'h',
 'e',
 'p',
 'a',
 'n',
 'i',
 'c',
 's',
 'e',
 'l',
 'l',
 'i',
 'n',
 'g',
 'p',
 'r',
 'o',
 'm',
 'p',
 't',
 'e',
 'd',
 'b',
 'y',
 't',
 'h',
 'e',
 'c',
 'o',
 'r',
 'o',
 'n',
 'a',
 'v',
 'i',
 'r',
 'u',
 's',
 'h',
 'a',
 's',
 'w',
 'i',
 'p',
 'e',
 'd',
 't',
 'n',
 'o',
 'f',
 'f',
 't',
 'h',
 'e',
 'v',
 'a',
 'l',
 'u',
 'e',
 'o',
 'f',
 'S',
 'T',
 'O',
 'X',
 'X',
 's',
 'h',
 'a',
 'r',
 'e',
 's',
 's',
 'i',
 'n',
 'c',
 'e',
 'i',
 't',
 's',
 'a',
 'l',
 'l',
 't',
 'i',
 'm',
 'e',
 'p',
 'e',
 'a',
 'k',
 'o',
 'n',
 'F',
 'e',
 'b',
 'r',
 'u',
 'a',
 'r',
 'y']

In [ ]:
result = re.findall(r"[^0-9]", string)
result

['T',
 'h',
 'e',
 ' ',
 'E',
 'u',
 'r',
 'o',
 ' ',
 'S',
 'T',
 'O',
 'X',
 'X',
 ' ',
 ' ',
 'i',
 'n',
 'd',
 'e',
 'x',
 ',',
 ' ',
 'w',
 'h',
 'i',
 'c',
 'h',
 ' ',
 't',
 'r',
 'a',
 'c',
 'k',
 's',
 ' ',
 'a',
 'l',
 'l',
 ' ',
 's',
 't',
 'o',
 'c',
 'k',
 ' ',
 'm',
 'a',
 'r',
 'k',
 'e',
 't',
 's',
 ' ',
 'a',
 'c',
 'r',
 'o',
 's',
 's',
 ' ',
 'E',
 'u',
 'r',
 'o',
 'p',
 'e',
 ' ',
 'i',
 'n',
 'c',
 'l',
 'u',
 'd',
 'i',
 'n',
 'g',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'F',
 'T',
 'S',
 'E',
 ',',
 ' ',
 'f',
 'e',
 'l',
 'l',
 ' ',
 'b',
 'y',
 ' ',
 '.',
 '%',
 ' ',
 '–',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'w',
 'o',
 'r',
 's',
 't',
 ' ',
 'd',
 'a',
 'y',
 ' ',
 's',
 'i',
 'n',
 'c',
 'e',
 ' ',
 'i',
 't',
 ' ',
 'l',
 'a',
 'u',
 'n',
 'c',
 'h',
 'e',
 'd',
 ' ',
 'i',
 'n',
 ' ',
 '.',
 ' ',
 'T',
 'h',
 'e',
 ' ',
 'p',
 'a',
 'n',
 'i',
 'c',
 ' ',
 's',
 'e',
 'l',
 'l',
 'i',
 'n',
 'g',
 ' ',
 'p',
 'r',
 'o',
 'm',
 'p',
 't',
 'e',
 'd',
 ' ',
 'b',
 'y',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'c',
 'o',
 'r',
 'o',
 'n',
 'a',
 'v',
 'i',
 'r',
 'u',
 's',
 ' ',
 'h',
 'a',
 's',
 ' ',
 'w',
 'i',
 'p',
 'e',
 'd',
 ' ',
 '£',
 '.',
 't',
 'n',
 ' ',
 'o',
 'f',
 'f',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'v',
 'a',
 'l',
 'u',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 'S',
 'T',
 'O',
 'X',
 'X',
 ' ',
 ' ',
 's',
 'h',
 'a',
 'r',
 'e',
 's',
 ' ',
 's',
 'i',
 'n',
 'c',
 'e',
 ' ',
 'i',
 't',
 's',
 ' ',
 'a',
 'l',
 'l',
 '-',
 't',
 'i',
 'm',
 'e',
 ' ',
 'p',
 'e',
 'a',
 'k',
 ' ',
 'o',
 'n',
 ' ',
 ' ',
 'F',
 'e',
 'b',
 'r',
 'u',
 'a',
 'r',
 'y',
 '.']

In [ ]:
result = re.findall(r"[ \n\t\r\f\v]", string)
result

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ']

In [ ]:
result = re.findall(r"[^ \n\t\r\f\v]", string)
result

['T',
 'h',
 'e',
 'E',
 'u',
 'r',
 'o',
 'S',
 'T',
 'O',
 'X',
 'X',
 '6',
 '0',
 '0',
 'i',
 'n',
 'd',
 'e',
 'x',
 ',',
 'w',
 'h',
 'i',
 'c',
 'h',
 't',
 'r',
 'a',
 'c',
 'k',
 's',
 'a',
 'l',
 'l',
 's',
 't',
 'o',
 'c',
 'k',
 'm',
 'a',
 'r',
 'k',
 'e',
 't',
 's',
 'a',
 'c',
 'r',
 'o',
 's',
 's',
 'E',
 'u',
 'r',
 'o',
 'p',
 'e',
 'i',
 'n',
 'c',
 'l',
 'u',
 'd',
 'i',
 'n',
 'g',
 't',
 'h',
 'e',
 'F',
 'T',
 'S',
 'E',
 ',',
 'f',
 'e',
 'l',
 'l',
 'b',
 'y',
 '1',
 '1',
 '.',
 '4',
 '8',
 '%',
 '–',
 't',
 'h',
 'e',
 'w',
 'o',
 'r',
 's',
 't',
 'd',
 'a',
 'y',
 's',
 'i',
 'n',
 'c',
 'e',
 'i',
 't',
 'l',
 'a',
 'u',
 'n',
 'c',
 'h',
 'e',
 'd',
 'i',
 'n',
 '1',
 '9',
 '9',
 '8',
 '.',
 'T',
 'h',
 'e',
 'p',
 'a',
 'n',
 'i',
 'c',
 's',
 'e',
 'l',
 'l',
 'i',
 'n',
 'g',
 'p',
 'r',
 'o',
 'm',
 'p',
 't',
 'e',
 'd',
 'b',
 'y',
 't',
 'h',
 'e',
 'c',
 'o',
 'r',
 'o',
 'n',
 'a',
 'v',
 'i',
 'r',
 'u',
 's',
 'h',
 'a',
 's',
 'w',
 'i',
 'p',
 'e',
 'd',
 '£',
 '2',
 '.',
 '7',
 't',
 'n',
 'o',
 'f',
 'f',
 't',
 'h',
 'e',
 'v',
 'a',
 'l',
 'u',
 'e',
 'o',
 'f',
 'S',
 'T',
 'O',
 'X',
 'X',
 '6',
 '0',
 '0',
 's',
 'h',
 'a',
 'r',
 'e',
 's',
 's',
 'i',
 'n',
 'c',
 'e',
 'i',
 't',
 's',
 'a',
 'l',
 'l',
 '-',
 't',
 'i',
 'm',
 'e',
 'p',
 'e',
 'a',
 'k',
 'o',
 'n',
 '1',
 '9',
 'F',
 'e',
 'b',
 'r',
 'u',
 'a',
 'r',
 'y',
 '.']

In [ ]:
result = re.findall(r"[a-zA-Z0-9_]", string)
result

['T',
 'h',
 'e',
 'E',
 'u',
 'r',
 'o',
 'S',
 'T',
 'O',
 'X',
 'X',
 '6',
 '0',
 '0',
 'i',
 'n',
 'd',
 'e',
 'x',
 'w',
 'h',
 'i',
 'c',
 'h',
 't',
 'r',
 'a',
 'c',
 'k',
 's',
 'a',
 'l',
 'l',
 's',
 't',
 'o',
 'c',
 'k',
 'm',
 'a',
 'r',
 'k',
 'e',
 't',
 's',
 'a',
 'c',
 'r',
 'o',
 's',
 's',
 'E',
 'u',
 'r',
 'o',
 'p',
 'e',
 'i',
 'n',
 'c',
 'l',
 'u',
 'd',
 'i',
 'n',
 'g',
 't',
 'h',
 'e',
 'F',
 'T',
 'S',
 'E',
 'f',
 'e',
 'l',
 'l',
 'b',
 'y',
 '1',
 '1',
 '4',
 '8',
 't',
 'h',
 'e',
 'w',
 'o',
 'r',
 's',
 't',
 'd',
 'a',
 'y',
 's',
 'i',
 'n',
 'c',
 'e',
 'i',
 't',
 'l',
 'a',
 'u',
 'n',
 'c',
 'h',
 'e',
 'd',
 'i',
 'n',
 '1',
 '9',
 '9',
 '8',
 'T',
 'h',
 'e',
 'p',
 'a',
 'n',
 'i',
 'c',
 's',
 'e',
 'l',
 'l',
 'i',
 'n',
 'g',
 'p',
 'r',
 'o',
 'm',
 'p',
 't',
 'e',
 'd',
 'b',
 'y',
 't',
 'h',
 'e',
 'c',
 'o',
 'r',
 'o',
 'n',
 'a',
 'v',
 'i',
 'r',
 'u',
 's',
 'h',
 'a',
 's',
 'w',
 'i',
 'p',
 'e',
 'd',
 '2',
 '7',
 't',
 'n',
 'o',
 'f',
 'f',
 't',
 'h',
 'e',
 'v',
 'a',
 'l',
 'u',
 'e',
 'o',
 'f',
 'S',
 'T',
 'O',
 'X',
 'X',
 '6',
 '0',
 '0',
 's',
 'h',
 'a',
 'r',
 'e',
 's',
 's',
 'i',
 'n',
 'c',
 'e',
 'i',
 't',
 's',
 'a',
 'l',
 'l',
 't',
 'i',
 'm',
 'e',
 'p',
 'e',
 'a',
 'k',
 'o',
 'n',
 '1',
 '9',
 'F',
 'e',
 'b',
 'r',
 'u',
 'a',
 'r',
 'y']

In [ ]:
result = re.findall(r"[^a-zA-Z0-9_]", string)
result

[' ',
 ' ',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 ' ',
 '.',
 '%',
 ' ',
 '–',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '.',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '£',
 '.',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '-',
 ' ',
 ' ',
 ' ',
 ' ',
 '.']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\b\w{4}\b", string)
result

['Euro', 'FTSE', 'fell', '1998', 'time', 'peak']

In [ ]:
result = re.findall(r"\b\w{3,5}\b", string)
result

['The',
 'Euro',
 'STOXX',
 '600',
 'index',
 'which',
 'all',
 'stock',
 'the',
 'FTSE',
 'fell',
 'the',
 'worst',
 'day',
 'since',
 '1998',
 'The',
 'panic',
 'the',
 'has',
 'wiped',
 '7tn',
 'off',
 'the',
 'value',
 'STOXX',
 '600',
 'since',
 'its',
 'all',
 'time',
 'peak']

In [ ]:
result = re.findall(r"\b\w{3,}\b", string)
result

['The',
 'Euro',
 'STOXX',
 '600',
 'index',
 'which',
 'tracks',
 'all',
 'stock',
 'markets',
 'across',
 'Europe',
 'including',
 'the',
 'FTSE',
 'fell',
 'the',
 'worst',
 'day',
 'since',
 'launched',
 '1998',
 'The',
 'panic',
 'selling',
 'prompted',
 'the',
 'coronavirus',
 'has',
 'wiped',
 '7tn',
 'off',
 'the',
 'value',
 'STOXX',
 '600',
 'shares',
 'since',
 'its',
 'all',
 'time',
 'peak',
 'February']

In [ ]:
number = "12391827172820919011001911"
result = re.search(r"\d{3,6}", number)
result

In [ ]:
result = re.search(r"\d{3,6}?", number)
result

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.search(r"\d{3}|\d{4}|\b[A-Z]{4}\b", string)
result

In [ ]:
result = re.search(r"\d{8}|\d{4}|\b[A-Z]{4}\b", string)
result

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998.\nThe panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\A([A-Z].*?)\s", string, re.M)
result

['The']

In [ ]:
result = re.findall(r"^([A-Z].*?)\s", string, re.M)
result

['The', 'The']

In [ ]:
result = re.findall(r"\W\Z", string, re.M)
result

['.']

In [ ]:
result = re.findall(r"\W$", string, re.M)
result

['.', '.']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\b\w{10,}\b", string)
result

['coronavirus']

In [ ]:
result = re.findall(r"\bEuro\b", string)
result

['Euro']

In [ ]:
result = re.findall(r"\Bcross", string)
result

['cross']

In [ ]:
result = re.findall(r"cross\B", string)
result

[]

In [ ]:
result = re.findall(r"\Bcross\B", string)
result

[]

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"(\d)[a-z]", string)
result

['7']

In [ ]:
result = re.findall(r"\W\D\W", string)
result

['% –']

In [ ]:
result = re.findall(r"\W(\D)\W", string)
result

[' ']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\s", string)
result

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ']

In [ ]:
result = re.findall(r"\S{8,}", string)
result

['including', 'launched', 'prompted', 'coronavirus', 'all-time', 'February.']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\s(\w{3,5})\s", string)
result

['Euro',
 '600',
 'which',
 'all',
 'the',
 'fell',
 'the',
 'day',
 'The',
 'the',
 'has',
 'off',
 'value',
 'STOXX',
 'since',
 'peak']

In [ ]:
result = re.findall(r"\W", string)
result

[' ',
 ' ',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 ' ',
 '.',
 '%',
 ' ',
 '–',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '.',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '£',
 '.',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '-',
 ' ',
 ' ',
 ' ',
 ' ',
 '.']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.search(r".+(\b.+ex\b).+(\b[A-Z]{4}\b).+(\d\d\s.+)\.", string)
result.groups()

('index', 'FTSE', '19 February')

In [ ]:
result.group(1)

'index'

In [ ]:
result.group(2)

'FTSE'

In [ ]:
result.group(3)

'19 February'

In [ ]:
result = re.search(r".+(?:\b.+ex\b).+(\b[A-Z]{4}\b).+(\d\d\s.+)\.", string)
result.groups()

('FTSE', '19 February')

In [ ]:
result.group(1)

'FTSE'

In [ ]:
result.group(2)

'19 February'

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.search(r".+(?P<wordex>\b.+ex\b).+(?P<uppercase>\b[A-Z]{4}\b).+(?P<date>\d\d\s.+)\.", string)
print(result.groups())

('index', 'FTSE', '19 February')

In [ ]:
result.group("wordex")

'index'

In [ ]:
result.group("uppercase")

'FTSE'

In [ ]:
result.group("date")

'19 February'

In [ ]:
result.group(1)

'index'

In [ ]:
result.group(2)

'FTSE'

In [ ]:
result.group(3)

'19 February'

In [ ]:
result.groupdict()

{'wordex': 'index', 'uppercase': 'FTSE', 'date': '19 February'}

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"[A-Z]{5}\s(?=[0-9]{3})", string)
result

['STOXX ', 'STOXX ']

In [ ]:
result = re.findall(r"([A-Z]{5})\s(?=[0-9]{3})", string)
result

['STOXX', 'STOXX']

In [ ]:
result = re.findall(r"Euro(?=[a-z]+)", string)
result

['Euro']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"\d(?![5-9]|\D)", string)
result

['6', '0', '1', '6', '0']

In [ ]:
result = re.findall(r"\b\w+\b(?!\s)", string)
result

['index', 'FTSE', '11', '48', '1998', '2', 'all', 'February']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"(?<=\s)\d{1,}", string)
result

['600', '11', '1998', '600', '19']

In [ ]:
result = re.findall(r"(?<=,\s)\b\w+\b", string)
result

['which', 'fell']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"(?<!\s)\d{1,}", string)
result

['00', '1', '48', '998', '2', '7', '00', '9']

In [ ]:
result = re.findall(r"(?<!x)x(?!x)", string, re.I)
result

['x']

In [ ]:
string = "The Euro STOXX 600 index, which tracks all stock markets across Europe including the FTSE, fell by 11.48% – the worst day since it launched in 1998. The panic selling prompted by the coronavirus has wiped £2.7tn off the value of STOXX 600 shares since its all-time peak on 19 February."

In [ ]:
import re
result = re.findall(r"(?<!\s)\d{1,}", string)
result

['00', '1', '48', '998', '2', '7', '00', '9']

In [ ]:
result = re.findall(r"(?<!x)x(?!x)", string, re.I)
result

['x']

In [1]:
f = open(r"/content/bookshelf.txt")
string = f.read()
import re
result = re.findall(r".+?;(.{1,25});.+?", string)
result

['Filling the Gap',
 'Harpo Speaks',
 'My Autobiography',
 'Where Have I Been?',
 'Fatherhood',
 "That's NOT All, Folks",
 "It's Always Something",
 'Pryor Convictions',
 'Bootleg',
 'Moab Is My Washpot',
 'Jen-X: My Open Book',
 'Rock This',
 'Random Acts of Badness',
 'Cancer Schmancer',
 'Hollywood Causes Cancer',
 'Born Standing Up',
 'Why We Suck',
 'Ernie: The Autobiography',
 'My Shit Life So Far',
 'American on Purpose',
 'Killing Willis',
 'Dyn-o-mite!',
 'The Filthy Truth',
 'So, Anyway...']

In [2]:
result = re.findall(r"(.+?);.+?;20[0-9][0-9]", string)
result

['Danny Bonaduce',
 'Fran Drescher',
 'Alan Thicke',
 'Rodney Dangerfield',
 'Tom Green',
 'Rik Mayall',
 'Tommy Chong',
 'Alan Thicke',
 'Steve Martin',
 'Denis Leary',
 'Stephen Fry',
 'Frankie Boyle',
 'Craig Ferguson',
 'Todd Bridges',
 'Kevin Smith',
 'Jimmie Walker',
 'Andrew Dice Clay',
 'John Cleese',
 'Cheech Marin',
 'Eric Idle']

In [3]:
import re

f = open(r"/content/bookshelf.txt")

string = f.read()

result = re.findall(r"", string)

print(result)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']